POSTGRES_HOST=192.168.2.38
POSTGRES_PORT=5435
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ed2k
POSTGRES_DB_URL=postgres://postgres:postgres@192.168.2.38:5435/ed2k
PORT=9209
COVERS_DIR=./data/covers
SCRAPE_CONCURRENCY=3
SCRAPE_DELAY_MS=800
# SCRAPE_API_TOKEN=
# HTTPS_PROXY=http://127.0.0.1:7890
